*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    /* background-image: linear-gradient(to right, #f3a8c2,#f6d1de);  */
    /* background-image: linear-gradient(to left, #cfa8ff 0, #9d8bff 25%, #6c6cd8 50%, #3f4ea4 75%, #153375 100%); */
    background-color: black;
}
.container{
    margin: 2rem; 
}
.containerForm{
    border: 8px solid #56008c;
    max-width: 280px;
    padding: 2rem;
    margin: 0 auto;
    background-color: black;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
label{
    margin: .5rem;
}
input{
    margin: .5rem;
    background-color: #2a7b3a;
    padding: .5rem;
    width: 90%;
}
button,
::placeholder{
    color: #fff;
}
input,button{
    border: none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.containerText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerText p{
    padding: .5rem;
    margin: 1rem;
    color: white;
    background-color: #2a7b3a;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    justify-content: center;
}

.containerBtns{
    display: flex;
    justify-content: space-between;
}
button{
    background-color: #5d1789a3;
    padding: .3rem;
    margin-left: .5rem;
    cursor: pointer;
}
button:hover{
    background-color: #56008c;
}